@font-face {
  font-weight: normal;
  font-style: normal;

  font-family: "symbols-sedona";
  src: url("../fonts/symbols-sedona.woff") format("woff"),
       url("../fonts/symbols-sedona.woff2") format("woff2");
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  display: inline-block;
  width: 1em;
  margin-right: 0.2em;
  margin-left: 0.2em;

  font-weight: normal;
  line-height: 1em;
  font-family: "symbols-sedona";
  text-align: center;
  text-transform: none;
  text-decoration: inherit;
  font-style: normal;
  font-variant: normal;

  speak: none;
}

.icon-facebook::before { content: "\66"; } /* "f" */
.icon-twitter::before { content: "\74"; } /* "t" */
.icon-up-dir::before { content: "\25b2"; } /* "▲" */
.icon-down-dir::before { content: "\25bc"; } /* "▼" */
.icon-star::before { content: "\2605"; } /* "★" */
.icon-check-off::before { content: "\2610"; } /* "☐" */
.icon-check-on::before { content: "\2611"; } /* "☑" */
.icon-calendar::before { content: "\e800"; } /* "" */
.icon-plus::before { content: "\e801"; } /* "" */
.icon-minus::before { content: "\e802"; } /* "" */
.icon-youtube::before { content: "\f39e"; } /* "" */

html {
  background-color: #e1e1e1;
}

body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  font-weight: normal;
  color: #333333;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}

.container {
  max-width: 1200px;
  min-width: 768px;
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.page-header {
  position: relative;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  width: 40%;
  list-style: none;
  font-size: 0;
}

.main-nav__list--left {
  margin-left: 6%;
  float: left;
  text-align: left;
}

.main-nav__list--right {
  margin-right: 6%;
  float: right;
  text-align: right;
}

.main-nav__list-item {
  display: inline-block;
  padding-top: 14px;
  padding-bottom: 16px;
  vertical-align: top;
  width: 50%;
  font-size: 14px;
}

.main-nav__list-item a {
	line-height: 26px;
	font-weight: bold;
	color: #000000;
  text-decoration: none;
}

.main-nav__list-item a:hover {
  color: #81b3d2;
}

.main-nav__list-item a:active {
  color: #000000;
  opacity: 0.3;
}

.main-nav__list-item--active a {
  color: #766357;
}

.main-nav__list-item--active a:hover {
  color: #604e43;
}

.main-nav__list-item--active a:active {
  color: #604e43;
  opacity: 0.3;
}

.page-header__main-logo {
  display: block;
  position: absolute;
  width: 138px;
  height: 70px;
  top: 0;
  left: 50%;
  margin-left: -69px;
}

.intro {
  min-height: 512px;
  background: url("../img/intro-mask.png") no-repeat bottom,
  url("../img/intro-photo.jpg") no-repeat 100%;
  background-size: 100%,
  100% 512px;
}

.intro img{
  padding-top: 75px;
  display: block;
  margin: 0 auto;
}

.advantages-header {
  margin-bottom: 50px;
}

.advantages-header__title {
  margin: 0;
  padding: 0;
  padding-top: 55px;
  margin-bottom: 30px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.advantages-header__text {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 26px;
}

.full-advantage {
  min-height: 256px;
  height: 1px;
}

.full-advantage__info {
  box-sizing: border-box;
  display: inline-block;
  width: 33.33%;
  height: 100%;
  padding: 47px 5% 38px;
  vertical-align: top;
  color: white;
  font-size: 14px;
  font-weight: normal;
  background-color: #81b3d2;
}

.full-advantage__header {
  margin: 0 auto;
  margin-bottom: 24px;
  padding: 0;
  font-size: 21px;
  font-weight: bold;
}

.full-advantage__number {
  display: block;
  margin-bottom: 21px;
}

.full-advantage__text {
  margin: 0 auto;
  padding: 0;
  font-weight: normal;
}

.full-advantage__info--left {
  float: left;
}

.full-advantage__info--right {
  float: right;
}

.full-advantage__photo {
  float: left;
  width: 66.67%;
  height: 100%;
}

.full-advantage__photo--left {
  float: left;
  background: url("../img/content-photo.jpg") no-repeat center;
  background-size: cover;
}

.full-advantage__photo--right {
  float: right;
  background: url("../img/content-2-photo.jpg") no-repeat center;
  background-size: cover;
}

.mini-features {
  font-size: 0;
}

.mini-features__feature {
  box-sizing: border-box;
  display: inline-block;
  margin: 0 auto;
  padding: 56px 6% 62px;
  vertical-align: top;
  width: 33.33%;
}

.mini-features__title::before {
  position: absolute;
  content: "";
  top: 0;
  left: 50%;
  margin-left: -38px;
  height: 76px;
  width: 75px;
  background: url("../img/feature-1.png") no-repeat bottom;
}

.mini-features__feature:nth-child(2) .mini-features__title::before {
  background-image: url("../img/feature-2.png");
}

.mini-features__feature:nth-child(3) .mini-features__title::before {
  background-image: url("../img/feature-3.png");
}

.mini-features__title {
  position: relative;
  display: block;
  padding-top: 105px;
  margin-bottom: 22px;
  font-size: 21px;
  font-weight: bold;
}

.mini-features__text {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.short-advantages {
  font-size: 0;
  background-color: #eeeeee;
}

.short-advantages__advantage {
  min-height: 256px;
  padding-left: 6%;
  padding-right: 6%;
  color: #000;
  background-color: #eeeeee;
}

.search-form-title__question {
  display: block;
  padding-top: 52px;
  margin-bottom: 29px;
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
}

.search-form-title__text {
  margin: 0;
  margin-bottom: 46px;
  padding: 0;
  line-height: 24px;
}

.search-form-title__popup-btn {
  position: relative;
  display: block;
  margin: 0 auto;
  padding: 30px 0;
  width: 570px;
  color: #fff;
  font-size: 21px;
  line-height: 26px;
  text-decoration: none;
  background-color: #766357;
}

.modal-content {
  display: none;
  position: absolute;
  left: 50%;
  margin-left: -285px;
  margin-right: -285px;
  width: 570px;
  height: 395px;
  background-color: #fff;
}

.page-footer {
  position: relative;
}

.footer-content {
  bottom: 0;
  position: absolute;
  width: 100%;
  background-color: rgba(255,255,255,0.9);
  font-size: 0;
}

.inner-page .footer-content {
  position: static;
}

.map {
  height: 593px;
}

.page-footer__item {
  display: inline-block;
  vertical-align: top;
  width: 33.33%;

}

.page-footer__hashtag {
  margin: 0;
  padding: 0;
  padding-top: 48px;
  padding-bottom: 52px;
  font-size: 21px;
  font-weight: bold;
}


.page-footer_social-btn {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: bottom;
  width: 46px;
  height: 48px;
  margin-top: 36px;
  margin-right: 6px;
  padding-top: 14px;
  font-size: 19px;
  line-height: 20px;
  color: #fff;
  background-color: #81b3d2;
}

.page-footer_social-btn:hover {
  background-color: #669ec0;
}

.page-footer_social-btn:active {
  background-color: #5496bd;
}

.page-footer_social-btn:active i {
  opacity: 0.3;
}

.page-footer_social-btn:last-child {
  margin-right: 0;
}

.page-footer_social-btn--yt {
  font-size: 23px;
}

.page-footer__footer-logo {
  margin-top: 38px;
}

.page-footer__footer-logo span {
  display: inline-block;
  vertical-align: top;
  margin-top: 5px;
  margin-right: 5px;
  font-size: 14px;
  line-height: 26px;
}

.page-footer__footer-logo a:hover{
  fill: red;
}

.page-footer__footer-logo a:active img{
  opacity: 0.3;
}

.inner-wrapper {
  margin: 0 6%;
}

.hotels-form {
  padding-top: 27px;
  background-image: url("../img/inner-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

.hotels-form legend {
  margin-bottom: 25px;
  font-size: 16px;
  font-weight: bold;
}

.hotels-form__group {
  margin: 0 auto;
  padding: 0;
  width: 33.33%;
  float: left;
  font-size: 14px;
  border: none;
  outline: none;
  text-align: left;
}

.hotels-form__group input[type="checkbox"] {
  display: none;
}

.hotels-form__group input[type="checkbox"] + label {
  position: relative;
  display: block;
  margin-left: 39px;
  margin-bottom: 25px;
}

.hotels-form__group input[type="checkbox"] + label:last-of-type {
  margin-bottom: 31px;
}

.hotels-form__group input[type="checkbox"] + label::before {
  position: absolute;
  margin-left: -40px;
  content: "\2610";
  font-family: "symbols-sedona";
  font-size: 26px;
  line-height: 20px;
}

.hotels-form__group input[type="checkbox"]:checked + label::before {
  content: "\2611";
}

.hotels-form__group input[type="checkbox"]:disabled + label,
.hotels-form__group input[type="checkbox"]:disabled + label::before {
  color: #6a6a6a;
}

.hotels-form__cost legend {
  margin-bottom: 11px;
}

.hotels-form__price-wrapper {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 11px;
  padding: 5px 0;
  border: 2px solid white;
  border-radius: 2px;
}

.hotels-form__price-field {
  box-sizing: border-box;
  float: left;
  width: 50%;
  text-align: center;
  border-right: 2px solid white;
}

.hotels-form__price-field:last-of-type {
  border: none;
}

.hotels-form__price-field input {
  width: 50%;
  text-align: center;
  color: #fff;
  background: transparent;
  border: none;

}

.hotels-form__price-field input:focus {
  outline: none;
}

input[type="text"]::-webkit-input-placeholder {
   color: #fff;
}

input[type="text"]::-moz-placeholder {
   color: #fff;
   opacity: 1;
}

.toddler {
  box-sizing: border-box;
  height: 20px;
  width: 100%;
  margin-bottom: 23px;
  padding-top: 8px;
}

.toddler-scale {
  width: 100%;
  height: 2px;
  background-color: rgba(255,255,255,0.3);
}

.toddler-scale-checked {
  position: relative;
  width: 80%;
  height: 2px;
  background-color: white;
}

.toddler-range {
  position: absolute;
  height: 4px;
  width: 4px;
  top: -8px;
  background-color: #ababab;
  border: 8px solid white;
  border-radius: 50%;
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.14);
  cursor: pointer;
}

.toddler-range-max {
  right: 0;
}

.toddler-range:hover {
  background-color: #1c4f80;
}

.hotels-form__submit-btn {
  display: block;
  margin: 0 auto;
  padding: 8px 33px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  border: 2px solid white;
  border-radius: 2px;
  background-color: transparent;
}

.hotels-form__submit-btn:hover {
  background-color: #fff;
  color: #000;
}

.hotels-form__submit-btn:active {
  outline: none;
}

.sorting-block {
  padding-bottom: 26px;
  padding-top: 29px;
  text-align: left;
  border-bottom: 1px solid #e5e5e5;
  background-color: #fff;
}

.sorting-block__finded {
  margin-right: 44px;
  font-size: 21px;
  line-height: 26px;
}

.sorting-block__finded .amount {
  margin-left: 5px;
}

.sorting-block__title {
  margin-right: 18px;
  font-size: 12px;
  line-height: 18px;
  color: #000;
}

.sorting-block__list {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.sorting-block__item {
  display: inline-block;
  padding: 0 17px;
  font-size: 12px;
  line-height: 18px;
}

.sorting-block__reference {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #81b3d2;
}

.sorting-block__reference:hover {
  color: #81b3d2;
}

.sorting-block__reference:active {
  color: #000;
  border: none;
}

.sorting-block__reference--active {
  color: #81b3d2;
  border: none;
}

.search-results {
  text-align: left;
}

.search-results__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.search-results__item {
  display: block;
  padding: 30px 0;
  border-bottom: 1px solid #e5e5e5;
}

.search-results__item img {
  float: left;
  margin-right: 30px;
}

.search-results__info {
  float: left;
}

.search-results__title {
  margin: 0;
  margin-top: -3px;
  margin-bottom: 10px;
  padding: 0;
  font-size: 21px;
}

.search-results__text-info {
  float: left;
}

.search-results__text-info--left {
  width: 110px;
  float: left;
  margin-right: 7px;
}

.search-results__top {
  display: block;
  margin-bottom: 14px;
}

.search-results__btn {
  display: block;
  padding: 3px 17px;
  color: #fff;
  background-color: #81b3d2;
  text-decoration: none;
}

.search-results__btn:hover {
  background-color: #669ec0;
}

.search-results__btn:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.search-results__btn--brown {
  background-color: #766357;
}

.search-results__btn--brown:hover {
  background-color: #604e43;
}

.search-results__btn--brown:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.search-results__text-info--right {
  float: right;
}

.search-results__rate {
  margin-top: -3px;
  float: right;
}

.icon-star::before {
  margin: 0;
}

.search-results__stars {
  display: block;
  margin-bottom: 45px;
  text-align: right;
  font-size: 19px;
  color: #81b3d2;
}

.search-results__rating {
  display: block;
  padding: 3px 13px;
  color: #666666;
  background-color: #f2f2f2;
}
